*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccd5ae;
}
.img-container{
    width: 100%;
    text-align: center;
}
.img-container h1{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
}
.images{
    height: 700px;
    width: 95%;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.img-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 19%;  
}
.img-div img{
    height: 330px;  
    width: 100%;  
    object-fit: cover;
    border: 1px solid white;
}
.img-div img:hover{
    height: 340px;
}
.show-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
}
.hide{
    display: none;
}
#full-image{
    height: 90%;
    width: 100vmin;
    object-fit: contain;
}